<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size: 1.3rem; font-weight: bold; color: #ffffff;">Blogger</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.1rem; color: #ffffff; font-weight: 500;">Home</a>
        </li>
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new" style="font-size: 1.1rem; color: #ffffff; font-weight: 500;">Add Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.1rem; color: #ffffff; font-weight: 500;">
              <%= locals.user.name %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/signout" style="font-size: 1.1rem;">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup" style="font-size: 1.1rem; color: #ffffff; font-weight: 500;">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin" style="font-size: 1.1rem; color: #ffffff; font-weight: 500;">Signin</a>
          </li>
        <% } %>  
      </ul>

      <form id="searchForm" class="d-flex" role="search">
        <input class="form-control me-2" type="search" id="searchInput" placeholder="Search blogs..." aria-label="Search" style="font-size: 1.1rem; padding: 0.5rem;">
        <button class="btn btn-outline-success" type="submit" style="font-size: 1.1rem;">Search</button>
      </form>
    </div>
  </div>
</nav>